<div style="display: flex; justify-content: space-between; align-items: center;">
    <nav class="navbar navbar-dark bg-dark" style="width: 100%;">
        <a class="navbar-brand" style="color: #ffffff;">
          <img src="https://cdn-icons-png.flaticon.com/128/3580/3580415.png" width="30" height="30" alt="">
          Hospital
        </a>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Ingreso</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="irADoctores()">Doctores</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="irAMedicamentos()">Medicamentos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="irAPacientes()">Pacientes</a>
                    <li class="nav-item">
                      <a class="nav-link" (click)="irAControlRecetas()">Recetas y Citas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="irAControlExamenes()">Examenes</a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
      </nav>  
</div>
<div class="container">
  <div class="row justify-content-around text-center" style="margin-top: 1%; margin-right: -7%; margin-left: -13%;">
      <div class="col-md-2 mx-2">
          <!-- Contenedor 1 -->
          <div class="card" style="width: 16rem;">
              <img src="https://cdn-icons-png.flaticon.com/128/4228/4228731.png" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Recetas</h5>
                <p class="card-text">Control de recetas y citas médicas de los pacientes</p>
                <a class="btn btn-primary" (click)="irAControlRecetas()" style="color: #ffffff;">Ingresar</a>
              </div>
          </div>
      </div>
      <div class="col-md-2 mx-2">
          <!-- Contenedor 2 -->
          <div class="card" style="width: 16rem;">
              <img src="https://cdn-icons-png.flaticon.com/128/9496/9496925.png" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Exámenes</h5>
                <p class="card-text">Control de exámenes de los pacientes</p>
                <a class="btn btn-primary" (click)="irAControlExamenes()" style="color: #ffffff;">Ingresar</a>
              </div>
          </div>
      </div>
      <div class="col-md-2 mx-2">
          <!-- Contenedor 3 -->
          <div class="card" style="width: 16rem;">
              <img src="https://tu-imagen.png" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Doctores</h5>
                <p class="card-text">Descripción del nuevo contenedor</p>
                <a class="btn btn-primary" (click)="irADoctores()" style="color: #ffffff;">Ingresar</a>
              </div>
          </div>
      </div>
      <div class="col-md-2 mx-2">
          <!-- Contenedor 4 -->
          <div class="card" style="width: 16rem;">
              <img src="https://tu-imagen.png" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Medicamentos</h5>
                <p class="card-text">Descripción del nuevo contenedor</p>
                <a class="btn btn-primary" (click)="irAMedicamentos()" style="color: #ffffff;">Ingresar</a>
              </div>
          </div>
      </div>
      <div class="col-md-2 mx-2">
          <!-- Contenedor 5 -->
          <div class="card" style="width: 16rem;">
              <img src="https://tu-imagen.png" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Pacientes</h5>
                <p class="card-text">Descripción del nuevo contenedor</p>
                <a class="btn btn-primary" (click)="irAPacientes()" style="color: #ffffff;">Ingresar</a>
              </div>
          </div>
      </div>
  </div>
</div>
