<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/128/3580/3580415.png" width="30" height="30" alt="">
      Hospital
    </a>
  </nav>  

  <div class="center-textbox">
    <div class="form-group">
      <label for="usr" class="bold-label">Nombre de Usuario:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd" class="bold-label">Contraseña:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
  </div>

  <div class="center-button">
    <button type="button" class="btn btn-info">Ingreso</button>
  </div>
  
  <app-menu-principal></app-menu-principal>
